body {
    background-color: #f0f8ff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}
.title {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

#pythagorean-form {
    display: block;
    margin: 20px auto;
    width: 500px;
    height: auto;
}
#pythagorean-form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}
.hidden {
    display: none;
}
.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    
}